div {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.main-bg{
  position: relative;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-image: url('/img/bg-1.png');
}
/*=======================================*/


.header{
  position: relative;
  z-index: 10;
}


/* ====로그인폼 애니메이션 및 css==== */
.login-anchor { /*로그인 버튼 및 폼 위치 고정*/
  position: relative;   
  display: inline-block;
}

.login-overlay { /*로그인 폼 설정*/
  position: absolute;
  top: 3.8rem;
  right: 0;
  width: 350px;
  height: auto;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #868e96;
  background: #e9ecef;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);

  z-index: 100;

  transform: translateY(-20px);
  opacity: 0;
  animation: slideDown 0.3s ease forwards;
}

.login-overlay .form-control { /* 인풋창 설정 */
  background-color: white;   
  color: black;
  border: 1px solid black;
}
.login-overlay .form-control::placeholder {
  color: #868e96;
}
.login-overlay .form-control:focus {
  background-color: transparent;
  color: black;
  border-color: none;
  box-shadow: none;
}

.login-checkbox .form-check-label { /*체크박스 설정*/
  color: black;
  font-size: 13px;
  font-weight: 800;
  cursor: pointer;
  margin-top: 3px;
}
.login-overlay .form-check-input {
  background-color: white;
}
.login-overlay .form-check-input:checked {
  background-color: blue;
  border-color: none;
}


@keyframes slideDown { /*애니메이션 설정*/
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/*=======================================*/


/* ====애니메이션==== */
.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.5s;
}
.scaleStart {
  transform: scale(0);
  transform-origin: center center;
}
.scaleEnd {
  transform: scale(1);
  transform-origin: center center;
  transition: all 0.5s;
}
/*=======================================*/


/* ====modal창==== */
.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 9999;
  inset: 0;
  opacity: 0;
  transition: all 0.5s;
}
.black-bg.show-modal{
  opacity: 1;
  pointer-events: auto;
}
.white-bg {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: auto;
  margin: 200px auto;
  padding: 30px;

  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.4s ease;
}
.white-bg.show-modal{
  transform: translateY(0);
  opacity: 1;
}
/*=======================================*/


/* ====sticky 이동을 위한 height 속성추가==== */
.sidebar-wrapper{
  height: 100%;
}
/*=======================================*/


/* ====헤더 이름표사==== */
.headerName{
  color: white;
}
/*=======================================*/